.bottle {
  border: 2px solid purple;
  padding: 10px;
}
.bottle img {
  width: 200px;
}

/* btn  */
.btn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.btn:active {
  transform: translateY(0); /* Back to normal when clicked */
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* btn  */


